<section class="upload_wrapper">
    <!-- <label class="title" for="">Upload file</label> -->
    <!-- <div class="upload_section">
        <nz-upload [nzAction]="uploadUrl" [nzAccept]="'application/pdf'"
            [nzHeaders]="{ Authorization: token,'organization-id': orgId ,'Content-Type':'multipart/form-data'}"
            (nzChange)="handleChange($event)">
            <button nz-button nzType="primary">
                <span nz-icon nzType="upload"></span>
                Upload File
            </button>
        </nz-upload>
    </div> -->
    <div class="upload_section">
        <nz-upload [nzCustomRequest]="customUpload" [nzAccept]='allowedExtensions' [nzHeaders]="{ 
                Authorization: token,
                'organization-id': orgId
            }" (nzChange)="handleChange($event)">
            <button nz-button nzType="primary">
                <span nz-icon nzType="upload"></span>
                Upload File
            </button>
        </nz-upload>
    </div>
    <nz-divider nzPlain nzText="or"></nz-divider>
    <div class="top_section">
        <label class="collection_name" for="">File URL</label>
        <input nz-input [(ngModel)]="url" type="text" />
        <button nz-button nzType="primary" [disabled]="url===''" (click)="callUploadUrl()"
            style="margin-left: auto;margin-top: 10px;">Save URL</button>
    </div>
    <nz-divider></nz-divider>
    <button nz-button nzType="primary" (click)="backToScreen(true)">Back</button>
    <!-- <button nz-button nzType="default" style="margin-top: 10px;" (click)="backToScreen(false)">Cancel</button> -->
</section>